.header{
    width: 100%;
    background-color: #333;
    min-height: 50px;
    font-size: 18px;
    color: #fff;
    padding-left: 10%;
    position: relative;
    max-height: 100px;
}

.header__nba-logo{
    width: 150px;
    height: 150px;
    position: relative;
    top: -27px;
}

.header__nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__nav-anchor{
    display: inline-block;
    padding: 15px 0px;;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.header__nav-anchor:after{
  content: '|';
  color: #fff;
  padding: 15px;
}

.header__nav-anchor:last-of-type:after{
  content: '';
}

.header__nav-anchor.active{
    color: #3371c0;
    text-decoration: none;
}

.header__nav-anchor:hover{
    color: #fff;
    text-decoration: none;
}