#header{
    width: 100%;
    background-color: #333;
    min-height: 50px;
    font-size: 18px;
    color: #fff;
    padding-left: 10%;
    position: relative;
    max-height: 100px;
}

.nba-logo > img{
    width: 150px;
    height: 150px;
    position: relative;
    top: -27px;
}

#header nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav > a{
    display: inline-block;
    padding: 15px 15px;;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

nav > a.active{
    color: #3371c0;
    text-decoration: none;
}

nav > a:hover{
    color: #fff;
    text-decoration: none;
}