.card{
    width: 25%;
    height: 140px;
    margin: 10px;
    display: inline-block;
}

.time-quarter-placeholder{
    text-align: right;
    padding-bottom: 8px;
    font-weight: bold;
}

.team-logo > img{
    width: 38px;
    position: relative;
    top: -3px;
    padding-right: 5px;
}

.team-name{
    font-size: 18px;
}

.score-info{
    padding: 5px;
}

.score{
    font-size: 18px;
    text-align: right;
    font-weight: 500;
}