.my-gallery-class{
  width: 100%;
}

.feed{
    height: 310px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    padding: 0 !important;
}

.feed img{
    width: 100%;
    height: 100%;
}

.feed-title{
    position: absolute;
    top: 155px;
    height: 50%;
    background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}

.feed-title h2{
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    text-align: left;
    position: relative;
    top: 70px;
    margin-left: 5px;
}

.feed-date{
    position: absolute;
    text-align: right;
}

.feed-date span{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    float:right;
    top: 10px;
    position: relative;
}
